#skip-link {
    position: absolute;
    right: 10000px; /* Off screen */
}

#skip-link:focus {
    position: relative;
    right: auto;
}

#nav-menu {
    position: fixed;
    width: 100%;
    left: 0px;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
}

#nav-menu.with-border {
    border-top:     2px solid black;
    border-bottom:  2px solid black;
  }

.menuitem {
    display: inline-block;
}

.menuitem-link {
    margin: 5px;
    padding: 10px;
    background-color: white;
    border: solid 2px black;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
  
.menuitem-link:hover {
    background-color: black;
    color: white;
} 

.menuitem-link:focus {
    background-color: black;
    color: white;
}