body {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    display: flex;
    flex-direction: column;
}

/*****************************
            Menu
*****************************/
#nav-icon {
    margin: 0;
    padding: 6px;
    display: inline-block;
    position: relative;
    background-color: #034575;
    border: 1px solid #034575;
    font-size: 0.9em;
    color: white;
    border-radius: 5px;
}

#nav-menu {
    margin: 0;
    padding: 7px 4px;
    list-style: none;
    display: none;
    position: absolute;
    border: 2px solid #034575;
    border-radius: 5px;
    background-color: #eee;
}

/*****************************
        Progress Bar
*****************************/

#progress-bar {
    width: 600px;
    background-color: #eeeeee;
    border-radius: 50px;
    border-color: rgb(12, 11, 11);
    border-width: 100px 100px 100px 100px;
    height: 20px;
    border: 2px solid black; /* Add border styles */
    box-sizing: border-box; /* Include border in the element's total width */
}
  
#progress {
width: 0%;
height: 100%;
background-color: #4caf50;
border-radius: 50px;
}

/*****************************
            Main
*****************************/

#main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-title {
    display: none;
}

#current-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#question-container {
    width: 100%;
}

#question-fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttons-container {
    display: flex;
    justify-content: space-between;
}

#question-text-container {
    font-size: 20px;
    font-weight: 550;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: aqua;
    border-radius: 50px;
    width: 700px;
    min-height: 50px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#question-text {
    text-align: center;
}

#input-container {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 0px;
    min-height: 100px;
    overflow: auto;
}

.button { 
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 3px;
    color: #000;
    background: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    padding: 12px 20px;
    text-align:center;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    :hover{
        background: rgb(251, 193, 245);
    }   
}

.pagination-button { 
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 3px;
    color: #000;
    background: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    padding: 12px 20px;
    text-align:center;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    :hover{
        background: rgb(251, 193, 245);
    }   
}
.pagination-button-clicked { 
    color: #fff;
    background: blue;
}