/*
@import "https://unpkg.com/open-props" layer(design.system);
@import "https://unpkg.com/open-props/normalize.min.css" layer(demo.support);
*/

body {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    display: flex;
    flex-direction: column;
}

#header-title {
    margin-top: 5%;
    text-align: center;
}

/*****************************
            Main
*****************************/

#main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#questionnaire-container {
    min-height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#relevant-resources {
    height: 80vh;
}

/*****************************
            Goal
*****************************/

#goal-section {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    padding: 2rem;
    border: 3px solid #333333;
    font-size: 2.5rem;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    background: #FFFCB1;
    position: relative;
    width: fit-content;
    &::before {
        content: '';
        border: 2px solid #353535;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    }
}

#goal {
    font-weight: 600;
}

/*****************************
        Progress Bar
*****************************/

#progress-percentage {
    position: absolute;
    right: 10000px; /* off screen */
}

#progress-bar {
    width: 50rem;
    margin: 2rem;
    background-color: #eeeeee;
    border-radius: 50px;
    border-color: rgb(12, 11, 11);
    border-width: 100px 100px 100px 100px;
    height: 20px;
    border: 2px solid black; /* Add border styles */
    box-sizing: border-box; /* Include border in the element's total width */
}
  
#progress {
    width: 0%;
    height: 100%;
    background-color: #6644ff;
    border-radius: 50px;
}

/*****************************
        Current Question
*****************************/

#current-question-title {
    display: none;
}

#current-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#questionnaire-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#question-container {
    width: 100%;
}

#question-text {
    text-align: center;
}

#input-container {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 0px;
    min-height: 100px;
    overflow: auto;
}

#question-fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#question-text-container {
    height: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 3px solid #333333;
    font-size: 2.5rem;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    background: #ffffff;
    position: relative;
    &::before {
        content: '';
        border: 2px solid #353535;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    }
}

#input-container {
    font-size: 20px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*****************************
        Control Buttons
*****************************/

#buttons-container {
    display: flex;
    justify-content: space-between;
    width: 50rem;
    justify-self: center;
    align-self: center;
}

#previousButton {
    order: 1;
    margin: 5px;
    padding: 10px;
    background-color: white;
    border: solid 2px black;
    text-decoration: none;
    font-weight: bold;
    color: black;
    width: 6vw;
}
#previousButton:hover {
    order: 1;
    margin: 5px;
    padding: 10px;
    background-color: black;
    border: solid 2px black;
    text-decoration: none;
    font-weight: bold;
    color: white;
    width: 6vw;
    cursor: pointer;
}
#previousButton:focus {
    order: 1;
    margin: 5px;
    padding: 10px;
    background-color: black;
    border: solid 2px black;
    text-decoration: none;
    font-weight: bold;
    color: white;
    width: 6vw;
}

#nextButton {
    order: 2;
    margin: 5px;
    padding: 10px;
    background-color: white;
    border: solid 2px black;
    text-decoration: none;
    font-weight: bold;
    color: black;
    width: 6vw;
}
#nextButton:hover {
    order: 2;
    margin: 5px;
    padding: 10px;
    background-color: black;
    border: solid 2px black;
    text-decoration: none;
    font-weight: bold;
    color: white;
    width: 6vw;
}
#nextButton:focus {
    order: 2;
    margin: 5px;
    padding: 10px;
    background-color: black;
    border: solid 2px black;
    text-decoration: none;
    font-weight: bold;
    color: white;
    width: 6vw;
}

button { 
    margin: 5px;
    padding: 10px;
    background-color: white;
    border: solid 2px black;
    text-decoration: none;
    font-weight: bold;
    color: black;
    width: 6vw; 
}

/*****************************
        Resources
*****************************/

#relevant-resources {
    display: flex;
    flex-direction: column;
}

#relevant-resources-header {
    align-self: center;
}

#pagination-buttons {
    align-self: center;
}

.pagination-button { 
    margin: 5px;
    padding: 10px;
    background-color: white;
    border: solid 2px black;
    text-decoration: none;
    font-weight: bold;
    color: black;
    width: 6vw;
}
.pagination-button:hover {
    margin: 5px;
    padding: 10px;
    background-color: black;
    border: solid 2px black;
    text-decoration: none;
    font-weight: bold;
    color: white;
    width: 6vw;
} 
.pagination-button:focus {
    margin: 5px;
    padding: 10px;
    background-color: black;
    border: solid 2px black;
    text-decoration: none;
    font-weight: bold;
    color: white;
    width: 6vw;
}
.pagination-button-clicked {
    margin: 5px;
    padding: 10px;
    background-color: black;
    border: solid 2px black;
    text-decoration: none;
    font-weight: bold;
    color: white;
    width: 6vw;
}

.resource-button {
    width: auto;
    font-size: 2rem;
    border: 0px;
    background-color: white;
    border: solid 2px black;
    color: black;
}

.resource-button:hover {
    width: auto;
    font-size: 2rem;
    border: 0px;
    background-color: black;
    border: solid 2px black;
    color: white;
}

.resource-button:focus {
    width: auto;
    font-size: 2rem;
    border: 0px;
    background-color: black;
    border: solid 2px black;
    color: white;
}

.resource-button-clicked {
    width: auto;
    font-size: 2rem;
    border: 0px;
    background-color: black;
    border: solid 2px black;
    color: white;
}